table,div {
  width: 40%;
  border: 17px solid;
  margin:auto;
  border-style:dashed;
  border-color: blue;
}

h1.Div1{
  color: red;
  text-decoration:underline;
}
h1.sub1{
  text-align:center;
  font-style:italic;
}
ul.Div1{
  color: blue;
  text-align:center;
}
h2{
  color; blue;
}

table,div2 {
  width: 700px;
  border: 13px solid #000;
  border-color: green;
  border-top-color: darkgreen;
  border-left-color: darkgreen;
  margin-right:250px;
  float:right;
  text-align:center;
  border-radius:25px;   
}
h1.Div2{
  color: green;
  text-decoration:underline;
  text-align:left;
}

table,div3{
  margin:auto;
  width: 27%;
  border: 5px double;
  border-color: red;
  float:left;
  border-collapse:collapse;
  height:800px; 
  border-radius:25px;
  margin-left:150px; 
}
h1.Div3{
  text-align:center;
  color:blue;
  text-decoration:overline; 
}
p.Div3{
  text-decoration:underline;
}
